@use "var";
@use "font";

body {
  font-family: font.$font-family-unbounded;
  font-weight: 400;
  background-color: #1f2023;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 71px;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    display: block;
    height: 27px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var.$accent;
  }
  &__logo {
    background-color: var.$accent;
    padding: 17px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url("../IMAGES/Header-bottom-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../IMAGES/Header-left.svg");
      position: absolute;
      top: 0;
      right: -68px;
    }
  }
  &__link {
    color: var.$light;
    font-size: 20px;
    background-color: var.$accent;
    padding: 17px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url("../IMAGES/Header-bottom-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../IMAGES/Header-right.svg");
      position: absolute;
      top: 0;
      left: -68px;
    }
  }
}

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.banner {
  display: flex;
  background-image: url(../IMAGES/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}
