@use "var";
@use "font";

body {
  font-family: font.$font-family-unbounded;
  font-weight: 400;
  background-color: #1f2023;
  color: var.$light;
  line-height: 110%;
  overflow-x: hidden;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: var.$light;
}

.title-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var.$grey;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  color: var.$light;
  font-family: font.$font-family-unbounded;
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  height: 71px;
  position: fixed;
  top: 0;
  z-index: 999;
  &::before {
    content: "";
    width: 100%;
    display: block;
    height: 27px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var.$accent;
  }
  &__logo {
    background-color: var.$accent;
    padding: 17px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    @media (max-width: var.$r_desk){
      padding: 17px 20px 0 20px;
    }
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url("../IMAGES/Header-bottom-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../IMAGES/Header-left.svg");
      position: absolute;
      top: 0;
      right: -68px;
    }
  }
  &__info {
    background-color: var.$accent;
    padding: 17px 45px 0 45px;
    position: relative;
    border-radius: 0 10px 0 0;
    @media (max-width: var.$r_desk){
      padding: 17px 20px 0 20px;
    }
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url("../IMAGES/Header-bottom-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../IMAGES/Header-right.svg");
      position: absolute;
      top: 0;
      left: -68px;
    }
  }
  &__link {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var.$light;
    transition: var.$tr;
    @media (hover: hover) {
      &:hover {
        border-bottom: 1px solid var.$accent;
      }
    }
  }
}

.logo {
  &._max {
    svg {
      width: 400px;
      height: 31px;
    }
  }
  &._min {
    svg {
      width: 296px;
      height: 22px;
    }
  }
}

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  @media (max-width: var.$r_desk){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.banner {
  display: flex;
  background-image: url(../IMAGES/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var.$br-max;
  color: var.$light;
  padding: 100px 50px;
  margin: 135px 0 150px;
  gap: 50px;

  &__main {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-between;
  }
  &__info {
    flex-basis: calc(40% - 50px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid var.$light;
    border-right: none;
    border-radius: var.$br-min 0 0 var.$br-min;
    height: 151px;
    position: relative;
    margin-right: 61px; //80px;
    z-index: 1;
    padding: 45px 30px 30px;
    box-sizing: border-box;
    transition: var.$tr;
    &:hover {
      &::before {
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }
      .banner__decor {
        background-color: var.$accent;
        border-color: var.$accent;
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    & + & {
      margin-top: 19px;
    }
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 151px;
      background-color: var.$accent;
      border: 1px solid var.$accent;
      position: absolute;
      top: -1px;
      right: 0;
      border-radius: var.$br-min 0 0 var.$br-min;
      z-index: -1;
      opacity: 0;
      transform: scale(0);
      transform-origin: bottom right;
      transition: var.$tr;
    }
  }
  &__text {
    font-weight: 250;
    font-size: 24px;
    line-height: 110%;
    margin: 0;
    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      margin-top: 20px;
    }
  }
  &__decor {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -78px; //0px;
    border: 1px solid var.$light;
    border-radius: 10px;
    box-sizing: border-box;
    transition: var.$tr;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../IMAGES/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -1px;
    }
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      transform: scale(0);
      transform-origin: bottom left;
      background-image: url(../IMAGES/banner-info-decor-hover.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -1px;
      opacity: 0;
      transition: var.$tr;
    }
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 19px;
  }
  &__btn {
    display: block;
    width: 100%;
    background-color: var.$accent;
    border-radius: var.$br-min;
    font-family: font.$font-family-unbounded;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid var.$accent;
    padding: 30px;
    transition: var.$tr;
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.banner-box {
  border: 1px solid var.$light;
  border-radius: var.$br-min;
  position: relative;
  padding: 29px 321px 29px 30px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__img {
    position: absolute;
    &._electroguitar {
      top: -68px;
      right: -33px; //-20px;
    }
  }
}

.tag {
  display: flex;
  gap: 64px;
  animation: move-left 20s infinite linear alternate;
  &:hover {
    animation-play-state: paused;
  }
  &__text {
    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    padding: 10px 20px;
    color: var.$grey;
    border: 1px solid var.$grey;
    border-radius: var.$br-max;
    padding: 10px 20px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-color: var.$accent;
      border-radius: 100%;
      position: absolute;
      left: -40px;
      top: calc(50% - 8px); //середина-половина высоты
    }
  }
}

// @keyframes move-left {
//   0% {
//     transform: translate(100%, 0);
//   }
//   100% {
//     transform: translate(-100%, 0);
//   }
// }

.course {
  display: flex;
  gap: 70px;
  margin-top: 150px;
  &__title {
    flex-basis: 395px;
  }
  &__control {
    margin-top: 20px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px); //(100%width -  width_Преподаватели-gap_Между этими блоками)
    width: calc(100% - 395px - 70px);
  }
  &__schedule {
    margin-top: 50px;
  }
}

.course-control {
  display: flex;
  align-items: center;
  gap: 20px;
  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid var.$light;
    border-radius: 100%;
    background-size: contain;
    left: inherit;
    right: inherit;
    position: inherit;
    box-sizing: border-box;
    margin: 0;
    transition: var.$tr;
    background-color: transparent;
    &::after {
      content: "";
      display: block;
      width: 49px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      background-color: var.$accent;
      border-color: var.$accent;
    }
  }
  &__prev {
    &::after {
      background-image: url(../IMAGES/ui/Arrow-prev.svg);
    }
  }
  &__next {
    &::after {
      background-image: url(../IMAGES/ui/Arrow-next.svg);
    }
  }
}

.slider-teacher {
  &__item {
    height: 707px;
    background-color: var.$dark;
    border: 1px solid var.$dark;
    border-radius: var.$br-max;
    position: relative;
    overflow: hidden;
    transition: var.$tr;
    &:hover {
      border-color: var.$accent;
      .slider-teacher__name,
      .slider-teacher__grid {
        opacity: 1;
      }
    }
  }
  &__grid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var.$tr;
  }
  &__img {
    width: 100%;
    height: 637px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }
  &__name {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    color: var.$grey;
    opacity: 0;
    transition: var.$tr;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 637px;
      background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 59.08%);
      background-repeat: no-repeat;
      position: absolute;
      left: -30px;
      bottom: -30px;
      z-index: -1;
    }
  }
}

.accordion {
  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: var.$br-min;
    padding: 20px 25px 20px 30px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: var.$accent;
    background: var.$light;
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../IMAGES/ui/Plus.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.active {
      &::after {
        background-image: url(../IMAGES/ui/Minus.svg);
      }
    }
  }
  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: var.$light;
    border-radius: var.$br-min;
    margin: 0;
  }
  &__list {
    display: block;
    list-style-type: none;
    padding-left: 0;
    padding: 30px 50px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    color: var.$dark;
    & + & {
      margin-top: 30px;
    }
    &::before {
      content: "—";
    }
  }
}

.steps {
  border: 1px solid var.$grey;
  border-radius: var.$br-max;
  padding: 150px 45px;
  background: linear-gradient(180deg, #1f2023 0%, #7027e2 50%, #1f2023 100%);
  // max-width: 1920px;
  // margin: 0 auto;
  width: min(1920px, 100%);
  margin-inline: auto;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__item {
    flex: 1;
    border-radius: 50px;
    padding: 30px 28px 30px 30px;
    background: var.$light;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var.$dark;
  }
}

.result {
  margin: 150px 0;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
  &__item {
    border-radius: var.$br-min;
    padding: 30px;
    background-color: var.$light;
    &._subgrid {
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: 130px;
      align-items: center;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var.$dark;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    span {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      background: var.$accent;
      // margin-bottom: 20px;
      color: var.$light;
    }
  }
  &__btn {
    align-items: stretch;
    grid-column: 2 / 4;
    color: var.$light;
    background-color: var.$accent;
    border-radius: var.$br-min;
    font-family: font.$font-family-unbounded;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid var.$accent;
    padding: 54px;
    transition: var.$tr;
    @media (hover: hover) {
      &:hover {
        background-color: var.$dark;
      }
    }
  }
}

.areas {
  margin-inline: 45px;
  margin-block: 150px;
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 30px;
    color: var.$light;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid var.$accent;
    position: relative;
    transition: var.$tr;
    &:not(:last-child) {
      border-bottom: 1px solid var.$accent;
    }

    &:hover {
      background-color: var.$accent;
      border-radius: 10px;
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    &::after {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(../IMAGES/ui/Arrow-rotate.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transition: var.$tr;
    }
    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 770px;
      opacity: 0;
      transform: scale(0);
      transition: var.$tr;
    }
    &._acoustic {
      &::before {
        width: 568px;
        height: 314px;
        background-image: url(../IMAGES/areas/acoustic.png);
        top: calc(50% - 157px);
      }
    }
    &._drums {
      &::before {
        width: 474px;
        height: 474px;
        background-image: url(../IMAGES/areas/drums.png);
        top: calc(50% - 237px);
      }
    }
    &._violin {
      &::before {
        width: 568px;
        height: 528px;
        background-image: url(../IMAGES/areas/violin.png);
        top: calc(50% - 264px);
      }
    }
    &._bass-guitar {
      &::before {
        width: 586px;
        height: 394px;
        background-image: url(../IMAGES/areas/bass-guitar.png);
        top: calc(50% - 197px);
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var.$light;
    border-radius: 10px;
    transition: var.$tr;
    &:hover {
      background-color: var.$accent;
      &::after {
        background-color: var.$light;
      }
    }
    &::after {
      content: "";
      display: block;
      background-color: var.$accent;
      mask: center center / 100% no-repeat;
      -webkit-mask: center center / 100% no-repeat;
      transition: var.$tr;
    }
    &._wa {
      &::after {
        width: 28px;
        height: 28px;
        mask-image: url(../IMAGES/social/wa.svg);
        -webkit-mask-image: url(../IMAGES/social/wa.svg);
      }
    }
    &._vk {
      &::after {
        width: 31px;
        height: 19px;
        mask-image: url(../IMAGES/social/vk.svg);
        -webkit-mask-image: url(../IMAGES/social/vk.svg);
      }
    }
    &._tg {
      &::after {
        width: 25px;
        height: 22px;
        mask-image: url(../IMAGES/social/tg.svg);
        -webkit-mask-image: url(../IMAGES/social/tg.svg);
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 10px 20px;
  padding: 30px 50px;
  background-color: var.$dark;
  margin-bottom: 30px;
  border-radius: var.$br-min;
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var.$light;
    margin-top: 0;
    margin-bottom: 0;
    & + & {
      margin-top: 6px;
    }
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var.$accent;
    box-shadow: 0 4px 0 -3px var.$accent;
    transition: var.$tr;
    &:hover {
      box-shadow: 0 4px 0 -3px transparent;
    }
  }
  &__copy {
    text-align: right;
    align-self: end;
  }
}
