@use "var";
@use "font";

body {
  font-family: font.$font-family-unbounded;
  font-weight: 400;
  background-color: #1f2023;
  color: var.$light;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: var.$light;
}

.title-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var.$grey;
  // margin-bottom: 50px;
}

button {
  color: var.$light;
}

.header {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  height: 71px;
  position: fixed;
  top: 0;
  z-index: 999;
  &::before {
    content: "";
    width: 100%;
    display: block;
    height: 27px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var.$accent;
  }
  &__logo {
    background-color: var.$accent;
    padding: 20px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url("../IMAGES/Header-bottom-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../IMAGES/Header-left.svg");
      position: absolute;
      top: 0;
      right: -68px;
    }
  }
  &__link {
    font-size: 20px;
    background-color: var.$accent;
    padding: 19px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    text-decoration: underline 1px;
    text-underline-offset: 10px;
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url("../IMAGES/Header-bottom-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
    &::after {
      content: "";
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../IMAGES/Header-right.svg");
      position: absolute;
      top: 0;
      left: -68px;
    }
  }
}

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.banner {
  display: flex;
  background-image: url(../IMAGES/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  color: var.$light;
  padding: 100px 50px;
  margin: 135px 0 150px;
  gap: 50px;

  &__main {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-between;
  }
  &__info {
    flex-basis: calc(40% - 50px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid var.$light;
    border-right: none;
    border-radius: 20px 0 0 20px;
    height: 151px;
    position: relative;
    margin-right: 61px; //80px;
    z-index: 1;
    padding: 45px 30px 30px;
    box-sizing: border-box;
    transition: var.$tr;
    &:hover {
      &::before {
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }
      .banner__decor {
        background-color: var.$accent;
        border-color: var.$accent;
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    & + & {
      margin-top: 19px;
    }
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 151px;
      background-color: var.$accent;
      border: 1px solid var.$accent;
      position: absolute;
      top: -1px;
      right: 0;
      border-radius: 20px 0 0 20px;
      z-index: -1;
      opacity: 0;
      transform: scale(0);
      transform-origin: bottom right;
      transition: var.$tr;
    }
  }
  &__text {
    font-weight: 250;
    font-size: 24px;
    line-height: 110%;
    margin: 0;
    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      margin-top: 20px;
    }
  }
  &__decor {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -78px; //0px;
    border: 1px solid var.$light;
    border-radius: 10px;
    box-sizing: border-box;
    transition: var.$tr;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../IMAGES/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -1px;
    }
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      transform: scale(0);
      transform-origin: bottom left;
      background-image: url(../IMAGES/banner-info-decor-hover.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -1px;
      opacity: 0;
      transition: var.$tr;
    }
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 19px;
  }
  &__btn {
    display: block;
    width: 100%;
    background-color: var.$accent;
    border-radius: 20px;
    font-family: font.$font-family-unbounded;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid var.$accent;
    padding: 30px;
    transition: var.$tr;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.banner-box {
  border: 1px solid var.$light;
  border-radius: 20px;
  position: relative;
  padding: 29px 321px 29px 30px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__img {
    position: absolute;
    &._electroguitar {
      top: -68px;
      right: -33px; //-20px;
    }
  }
}

.tag {
  display: flex;
  gap: 64px;
  animation: move-left 20s infinite linear alternate;
  &:hover {
    animation-play-state: paused;
  }
  &__text {
    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    padding: 10px 20px;
    color: var.$grey;
    border: 1px solid var.$grey;
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-color: var.$accent;
      border-radius: 100%;
      position: absolute;
      left: -40px;
      top: calc(50% - 8px); //середина-половина высоты
    }
  }
}

// @keyframes move-left {
//   0% {
//     transform: translate(100%, 0);
//   }
//   100% {
//     transform: translate(-100%, 0);
//   }
// }

.course {
  display: flex;
  gap: 70px;
  margin-top: 150px;
  &__title {
    flex-basis: 395px;
  }
  &__control {
    margin-top: 20px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px); //(100%width -  width_Преподаватели-gap_Между этими блоками)
    width: calc(100% - 395px - 70px);
  }
}

.course-control {
  display: flex;
  align-items: center;
  gap: 20px;
  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid var.$light;
    border-radius: 100%;
    background-size: contain;
    left: inherit;
    right: inherit;
    position: inherit;
    box-sizing: border-box;
    margin: 0;
    &::after {
      content: "";
      display: block;
      width: 49px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      background-color: var.$accent;
      border: none;
    }
  }
  &__prev {
    &::after {
      background-image: url(../IMAGES/ui/Arrow-prev.svg);
    }
  }
  &__next {
    &::after {
      background-image: url(../IMAGES/ui/Arrow-next.svg);
    }
  }
}

.slider-teacher {
  &__item {
    background-color: var.$dark;
    border: 2px solid var.$accent;
    border-radius: 50px;
    padding: 23px 10.5px;
    // width: 435px;
    // height: 707px;
  }
  &__img {
    width: 100%;
  }
}
